<!-- Angular. Интерполяция, байндинг и двустороннее связывание. Binding angular / NgModel -->
<!--<div>-->
<!--    <p (click)="updatePhone()" title="{{phone}}">Phone is {{phone}}</p>-->
<!--    <p [title]="fullName">Fullname is: {{fullName}}</p>-->
<!--    <p [innerHTML]="template"></p>-->

<!--    <input (input)="onInput($event, 123, user)" type="text" [value]="phone">-->
<!--    <br>-->
<!--    <input [(ngModel)]="user.name" type="text"> <br>-->
<!--    <input [(ngModel)]="user.surname" type="text">-->
<!--</div>-->
<!--<hr>-->
<!--<form action="#" (ngSubmit)="onSubmit()">-->
<!--    <input [(ngModel)]="login" type="text" name="login">-->
<!--    <input [(ngModel)]="password" type="password" name="password">-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<!-- <div [class]="table">
    <ul>
        <li></li>
    </ul>
</div>


<!- Angular. Структурные директивы. *ngIf, *ngFor, *ngSwitchCase (structural directives) -->

<!--<div *ngIf="expression; else elseCase">I am okay</div>-->

<!--<ng-template #elseCase>-->
<!--  <div>I am strong</div>-->
<!--</ng-template>-->

<!--<button (click)="expression = !expression">Button</button>-->

<!--<hr>-->

<!--<button (click)="generateUser()">Generate User</button>-->

<!--<ul *ngIf="deepObject?.user as user">-->
<!--    <li>Name is: {{user.name}}</li>-->
<!--    <li>Surname is: {{user.surname}}</li>-->
<!--</ul>-->

<!--<hr>-->

<!--<ul *ngFor="let user of users">-->
<!--  <li>{{ user.id }}: {{ user.name }}</li>-->
<!--  <div>phone: {{ user.phone }}</div>-->
<!--</ul>-->

<!--<ul>-->
<!--    <li *ngFor="let user of users; index as i; trackBy: trackBy" [ngSwitch]="user.template">-->
<!--      <p *ngSwitchCase="'bold'"><b>{{i}}: {{user.name}}</b></p>-->
<!--      <p *ngSwitchCase="'italic'"><i>{{i}}: {{user.name}}</i></p>-->
<!--      <p *ngSwitchDefault>{{i}}: {{user.name}}</p>-->
<!--    </li>-->
<!--</ul>-->

<!--<app-foo [(counter)]="age" (sayHi)="onSayHi($event)" [title]="expression ? 'one' : 'two'"></app-foo>-->

<!--<button (click)="expression = !expression">{{!expression ? 'one' : 'two'}}</button>-->

<div>
  <button (click)="menu.show()">
    Open menu
  </button>
  <app-menu #menu>
    <p>From App Component</p>
  </app-menu>
</div>

<div>
  <button (click)="menu1.show()">
    Open menu
  </button>
  <app-menu #menu1>
    <p>From App Component1</p>
  </app-menu>
</div>

<div>
  <button (click)="menu2.show()">
    Open menu
  </button>
  <app-menu #menu2>
    <p>From App Component2</p>
  </app-menu>
</div>


